<div class="card mb-4">
  <div class="m-4">
    <h5><strong>{{ doc.shop_name }}</strong></h5>
    <p><strong>Shop Name: </strong><dfn>{{ doc.shop_name }}</dfn></p>
    <p><strong>Airport: </strong><dfn>{{ doc.airport }}</dfn></p>
    <p><strong>Shop Name: </strong><dfn>{{ doc.shop_name }}</dfn></p>
    <p><strong>Occupancy Status: </strong><dfn>{{ doc.occupancy_status }}</dfn></p>
    <a href="/{{ doc.route |e }}" class="text-primary">View Shop</a>
  </div>
  
</div>
<!-- this is a sample default list template -->
