{% extends "templates/web.html" %}

{% block page_content %}

<h1>{{ title |e }}</h1>
<h3>Flight Details</h3>
<ul>
  <li>Airline: {{ frappe.db.get_value("Airplane", doc.airplane, "airline") }}</li>
  <li>{{ doc.source_airport_code }} -> {{ doc.destination_airport_code }}</li>
  <li>{{ doc.date_of_departure }} | {{ doc.time_of_departure }}</li>
  <li>{{ frappe.utils.format_duration(doc.duration) }} </li>
</ul>

<a href="/book-flight/new?flight={{ doc.name }}&flight_price=10000" class="btn btn-primary">Book Flight</a>
{% endblock %}

<!-- this is a sample default web page template -->